<!DOCTYPE html>
<html lang="en">

<%-include('../partials/head');%>

<body>

    <h1 class="text-center title">Hola!!! Bienvenid@ a <span class="world-music">WorldMusic</span></h1>

    <%-include('../partials/header'); %>

    <section>
        <input type="text" name="search-bar" class="search-bar" placeholder="Buscar en WorldMusic...">
    </section>

    <h1 class="text-center title">Artistas</h1>

    <section class="videos-usuario">
        <!--Videos que mas le gustan al usuario-->
        <!-- <video src="./video/video1.mp4" controls></video> -->
        <div class="apartado-canciones">
            <% for(let i = 0; i < datos.length; i++) { %>
                <article>
                    <img src="./img/<%= datos[i].imagen%>" alt="" class="music-image">
                    <div class="details text-center">
                        <p><%= datos[i].artista %></p>
                        <a href="/artistas/<%= datos[i].apodo %>" class="acerca-cancion">Ver M치s</a>
                    </div>
                </article>
            <% } %>
        </div>

        <div class="apartado-opciones">
            <h2 class="text-center">Ordenar Por</h2>
            <select name="options" class="options">
                <option value="" class="value-option">Mas Escuchad@</option>
                <option value="" class="value-option">Mas Visitad@</option>
                <option value="" class="value-option">M치s Vist@</option>
                <option value="" class="value-option">Menos Vist@</option>
                <option value="" class="value-option">M치s Antigu@</option>
                <option value="" class="value-option">M치s Actual</option>
            </select>
        </div>
    </section>
    <!-- <a href="/artistas/mon-laferte">Mon Laferte</a> <br>
    <a href="/artistas/natalia-lafourcade">Natalia Lafourcade</a> <br>
    <a href="/artistas/carla-morrinson">Carla Morrinson</a> -->

    <%-include('../partials/footer'); %>
</body>

</html>