<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head');%>
<body>
    <h1 class="text-center title">Hola!!! Bienvenid@ a <span class="world-music">WorldMusic</span></h1>

    <%-include('../partials/header'); %>

    <section>
        <input type="text" name="search-bar" class="search-bar" placeholder="Buscar en WorldMusic...">
    </section>
    <h2 class="text-center">Canciones de <%= datos[ArtistaEspecifico[0].id- 1].artista%></h2>
    <section class="videos-usuario">
        <!--Videos que se recomiendan en la plataforma-->
        <!-- <video src="./video/video1.mp4" controls class=""></video> -->
        <div class="apartado-canciones">
            <% for(let i = 0; i < 3; i++) { %>
                <article>
                    <img src="../img/<%=datos[i].imagen %>" alt="" class="music-image">
                    <div class="details text-center">
                        <p><%= datos[i].cancion%></p>
                        <a href="/artistas/<%= datos[i].apodo%>/<%=datos[i].id%>" class="acerca-cancion">Ver Más</a>
                    </div>
                </article>
            <% } %>
        </div>

        <div class="apartado-opciones">
            <h2 class="text-center">Ordenar Por</h2>
            <select name="options" class="options">
                <option value="" class="value-option">Nombre Canción</option>
                <option value="" class="value-option">Más Visto</option>
                <option value="" class="value-option">Menos Visto</option>
                <option value="" class="value-option">Fecha Publicación</option>
                <option value="" class="value-option">Más Antiguo</option>
                <option value="" class="value-option">Más Actual</option>
            </select>
        </div>
    </section>

    <%-include('../partials/footer'); %>
</body>
</html>