<!DOCTYPE html>
<html lang="en">

<%-include('../partials/head');%>

<body>

    <h1 class="text-center title">Hola!!! Bienvenid@ a <span class="world-music">WorldMusic</span></h1>

    <%-include('../partials/header'); %>

    <section>
        <input type="text" name="search-bar" class="search-bar" placeholder="Buscar en WorldMusic...">
    </section>

    <h1 class="text-center title"><%=datos[id].cancion %> - Autor(a): <%= datos[id].artista%></h1>
    <section class="video-imagen">
        <!-- <img src="./img/tu-falta-de-querer2.png" alt="" class="img-video"> -->
        <video src="../../video/<%=datos[id].video %>" controls class="video-musica" autoplay></video>
        <!-- <img src="./img/tu-falta-de-querer3.jpg" alt="" class="img-video"> -->
    </section>

    <h2 class="text-center">Descripcion de <%=datos[id].cancion %></h2>
    <section>
        <p class="descripcion-cancion">
            <%= datos[id].descripcion %>
        </p>
    </section>

    <section class="downloads text-center">
        <p>
            <a download="<%=datos[id].cancion%>.mp4" href="../../video/<%=datos[id].video%>" class="download">Descargar video</a>
        </p>
        <p>ó</p>
        <p>
            <a download="<%=datos[id].cancion%>.mp3" href="../../video/<%=datos[id].video%>" class="download">Descargar audio</a>
        </p>
    </section>

    <h2 class="text-center">Más Temas Relacionados con <%=datos[id].artista %></h2>
    <section class="temas-relacionados">
        <article>
            <img src="../../img/pa-donde-se-fue.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Pa' Donde se Fue</p>
                <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
            </div>
        </article>

        <article>
            <img src="../../img/mi-buen-amor.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Mi Buen Amor</p>
                <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
            </div>
        </article>

        <article>
            <img src="../../img/amarrame.jpg" alt="" class="img-music-recomended">
            <div class="details text-center">
                <p>Amárrame</p>
                <a href="/mon-laferte" class="acerca-cancion">Ver Más</a>
            </div>
        </article>
    </section>

    <%-include('../partials/footer'); %>
</body>

</html>